.sidebar_item   {

    text-decoration: none;

    display: flex;
    align-items: center;
    margin: 10px;

    color: thistle;


    & .svg {
        width: 30px;
        height: 44px;
    }

    & .texto_link {
        margin: 10px;
    }

    &:hover {
        color: rgb(240, 98, 4);
    }


}