.topbar_conteudo{
    background-color: rgba(227, 235, 235, 0.966);

    position: fixed;
    top: 0;
    bottom: 0;

    width: 80%;
    height: 10vh;

    display: flex;
    justify-content: flex-end;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);


}

.pagina_conteudo {
    margin-top: 11vh;
    padding: 20px;
    
}

.botao_deslogar {
    text-decoration: none;
    
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 3.5vh;

    margin-right: 20px;
   
    display: flex;
    align-items: center;
}
