.pagina_conteudo {
    width: 100%;
    height: 100%;
    
    
    padding: 50px;
    
}

.tabela{
    margin-top: 30px;
}

.tabela_corpo svg{
    color: rgb(29, 22, 11);

    margin:5px;
    font-size: 25px;
}

.botao_editar svg:hover{
    color: rgb(228, 110, 32);

}

.botao_deletar{
    border: none;
    background: none;

    & svg:hover{
        color: red;
    }
}

.pagina_cabecalho{
    display: flex;
    justify-content: space-between;
    

    &botao_novo{
        text-decoration: none;

        color: azure;

        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;

        border-radius: 10px;
        background-color: rgb(15, 15, 15);
    }

}